.chart-series-line {    
    -fx-stroke-width: 1px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: #e9967a; }
.default-color1.chart-series-line { -fx-stroke: #f0e68c; }
.default-color2.chart-series-line { -fx-stroke: #dda0dd; }

.default-color0.chart-series-area-line { -fx-stroke: #e9967a; }
.default-color1.chart-series-area-line { -fx-stroke: #f0e68c; }
.default-color2.chart-series-area-line { -fx-stroke: #dda0dd; }

.default-color0.chart-series-area-fill { -fx-fill: #ffa07a55; }
.default-color1.chart-series-area-fill { -fx-fill: #fffacd55; }
.default-color2.chart-series-area-fill { -fx-fill: #d8bfd855; }

.chart-symbol.series0 {
    -fx-background-color: #ffe119;
}

.chart-symbol.series1 {
    -fx-background-color: #911eb4;
}

.chart-symbol.series2 {
    -fx-background-color: #e6194b;
}


.chart-symbol {
    -fx-background-radius: 3 ;
    -fx-padding: 3 ;
    -fx-shape: "M 5, 5
        a 5,5 0 1,0 10,0
        a 5,5 0 1,0 -10,0";
}

